.section-1 {
  color: #ffffff;
  background-color: #ff0000;
}
.section-2 {
  color: #ffffff;
  background-color: #ff0000;
}
.section-3 {
  color: #ffffff;
  background-color: #ff0000;
}
.section-4 {
  border: 1px solid #ffffff;
}
